body{
    background: linear-gradient(120deg, #050518 0%, #050518 50%, #031029 100%);
    color: white;
    font-family: Arial, sans-serif;
    list-style: none;;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px;
    height: 64px;
    display: flex;
    padding: 0px 40px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background-color: #050518;

}

.link {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.link:active {
    color: aquamarine;
}

.links{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.link-items{
    cursor: pointer;
}

.buttons{
    display: flex;
    gap: 10px;
}

.login-btn, .signup-btn{
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.finger-aqua{
    color: aquamarine;

}

main{
    position: relative;
    top: 64px;
    align-items: center;
    justify-content: center;
}

.heading{
    color: aquamarine;
    text-align: center;
    padding: 30px 10px 0px 10px;
}
.moto{
    text-align: center;
    padding: 0px 10px 30px 10px;
}

.heading2 {
    text-align: center;
    margin-bottom: 60px;
}

.feature-item{
    height: 300px;
    width: 300px;
    border: 0.1px solid #e9f7f5;
    border-radius: 10px;
    overflow: hidden;
    gap: 10px;
    margin:20px
}

.feature-icon {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.phone-image {
    border-radius: 20px;
    height: 600px;
    width: auto;
    margin-bottom: 30px;
}
.phone-image:hover{
    transform: scale(1.4);
    transition: transform 0.2s ease-in-out;

}
.feature-card{
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.card-text{
    text-align: center;
}

.flow-card{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flow-card p {
    font-size: 20px;
}

.flow-cards {
    display: flex;
    gap: 200px;
    align-items: center;
}

.flow{
    height: 120px;
}
.flow:hover{
    transform: scale(1.4);
    transition: transform 0.2s ease-in-out;
}


.why{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why img {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid aqua;
}
.Download{
    padding: 20px 250px;
    background-color: aquamarine;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 25%;
    margin-bottom: 50px;
    align-items: center;

}
.brand{
    font-size: 35px;
}


.logo {
    font-size: 26px;
    font-weight: 700;
    color: #7fffe1;
}

.nav-links a {
    margin-left: 25px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a.active {
    color: #7fffe1;
}

.user-info {
    text-align: center;
    margin-top: 30px;
}

.user-img {
    margin-top: 100px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid #7fffe1;
}

.username {
    margin-top: 15px;
    font-size: 34px;
    font-weight: 700;
}


.wallet-card {
    width: 80%;
    margin: 30px auto;
    padding: 25px 35px;
    border-radius: 20px;
    border: 1px solid rgba(127, 255, 225, 0.3);
    background: rgba(127, 255, 225, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet-title {
    font-size: 30px;
    color: #7fffe1;
}

.wallet-amount {
    font-size: 32px;
    margin-top: 5px;
}

.send-btn {
    background: #7fffe1;
    color: black;
    border: none;
    padding: 15px 30px;
    border-radius: 14px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 20px;
}
.send-btn:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;

}

.transactions-title {
    margin-left: 10%;
    margin-top: 40px;
    color: #7fffe1;
    font-size: 35px;
}


.transaction {
    width: 80%;
    margin: 18px auto;
    padding: 15px 25px;
    border-radius: 18px;
    border: 1px solid rgba(127, 255, 225, 0.2);
    background: rgba(127, 255, 225, 0.04);

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.transaction:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;

}

.tx-left {
    display: flex;
    align-items: center;
}

.tx-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
    background: #7fffe1;
    opacity: 0.15;
}


.user-icon {
    background: rgba(127, 255, 225, 0.3);
}

.shop-icon {
    background: rgba(127, 255, 225, 0.3);
}

.bill-icon {
    background: rgba(127, 255, 225, 0.3);
}

.tx-left h3 {
    margin: 0;
    font-size: 18px;
}

.tx-left p {
    margin: 3px 0 0 0;
    color: #b8c6d1;
}

.tx-amount {
    font-size: 20px;
    font-weight: 600;
}

.plus {
    color: #4affc9;
}

.minus {
    color: #ff4e4e;
}
